@import url('https://fonts.googleapis.com/css2?family=Zhi+Mang+Xing&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    font-family: Georgia, serif;
  }
  
  body {
    font-family: 'Lexend', sans-serif;
    font-weight: 400;
  }
}

/* Prevent hyphenation */
.hyphens-auto {
  hyphens: none !important;
  -webkit-hyphens: none !important;
  -ms-hyphens: none !important;
}